@import '../variables';

.layout {
    display: flex;
    min-height: 100vh;
    position: relative;
    overflow: hidden; // Prevent body scroll if content is short, but allow internal scroll if needed
}

.mainContent {
    flex: 1;
    padding: $padding;
    height: 100vh;
    overflow-y: auto;
    position: relative;
    z-index: 1;
}

// Background Animation
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #131722; // Darker background
    overflow: hidden;
    z-index: 0;
}

.background span {
    width: 65vmin;
    height: 65vmin;
    border-radius: 65vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: 0.15; // Slightly reduced opacity
}

.background span:nth-child(1) {
    color: #FFACAC;
    top: 11%;
    left: 71%;
    animation-duration: 11s;
    animation-delay: -23s;
    transform-origin: -23vw -20vh;
    box-shadow: -86vmin 0 10.989582077996385vmin currentColor;
}

.background span:nth-child(2) {
    color: #E45A84;
    top: 69%;
    left: 70%;
    animation-duration: 12s;
    animation-delay: -31s;
    transform-origin: -10vw 24vh;
    box-shadow: -86vmin 0 11.346386332217277vmin currentColor;
}

.background span:nth-child(3) {
    color: #583C87;
    top: 18%;
    left: 69%;
    animation-duration: 46s;
    animation-delay: -40s;
    transform-origin: 10vw -24vh;
    box-shadow: 86vmin 0 11.070682034430561vmin currentColor;
}

.background span:nth-child(4) {
    color: #E45A84;
    top: 2%;
    left: 55%;
    animation-duration: 20s;
    animation-delay: -44s;
    transform-origin: 21vw -4vh;
    box-shadow: -86vmin 0 11.151182283713608vmin currentColor;
}

.background span:nth-child(5) {
    color: #E45A84;
    top: 88%;
    left: 13%;
    animation-duration: 22s;
    animation-delay: -40s;
    transform-origin: -8vw -17vh;
    box-shadow: -86vmin 0 11.097208519456323vmin currentColor;
}

.background span:nth-child(6) {
    color: #583C87;
    top: 3%;
    left: 62%;
    animation-duration: 41s;
    animation-delay: -18s;
    transform-origin: 25vw -17vh;
    box-shadow: -86vmin 0 10.76549325631001vmin currentColor;
}

.background span:nth-child(7) {
    color: #FFACAC;
    top: 56%;
    left: 38%;
    animation-duration: 54s;
    animation-delay: -10s;
    transform-origin: -20vw 6vh;
    box-shadow: -86vmin 0 11.446340589655474vmin currentColor;
}