@import 'variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: linear-gradient(135deg, #122052 0%, #825485 100%);
  color: $text-primary;
  font-family: $font-sans;
}

a {
  color: inherit;
  text-decoration: none;
}